<div class="wrapper">
    <div class="rightsidebar"></div>
    <div class="leftsidebar"></div>
    <div class="main">
        <article class="article">
            <header class="pageheader">
                <p class="pagetitle"><%= page.title%></p>
                <ul>
                    <li class="articledate"><%- date(page.date, 'YYYY-MM-DD') %></li>
                    <li class="articletag"><% page.tags.each(function(tag){ %> <%= tag.name %> <% }) %></li>
                    <li class="articlecategory"><% page.categories.each(function(category){ %> <%= category.name %> <% }) %></li>
                </ul>  
            </header>
            <section class="section">
                <%- page.content %>
            </section>
            <footer class="footer"></footer>
        </article>
    </div>
</div>
